apiVersion: v1
kind: Secret
metadata:
  name: git-auth
  annotations:
    tekton.dev/git-0: https://github.com
  namespace: coffeeshop-pipelines
type: kubernetes.io/basic-auth
stringData:
  password: <GITHUB_TOKEN>
  username: barista-kafka-tekton
